.create{
    position: absolute;
    top: 0px;
    left:150px;
}
.login{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

@media(max-width:767px){
    .login{
        width: 80%;
    }
  
    #delete{
        width: 70%;
        margin: 0;
    }
}
#delete{
    position: fixed;
    width: 40%;
    margin: 0 20%;
    background-color: #d8d2d2;
    z-index: 100;
    transition: 0.5s;
}
